<launch>
  <arg name="mapping_config_file" default="$(find ros_map_stream)/config/mapping.yaml" />
  <arg name="device_config_file" default="$(find edge_device_config)/config/device.yaml" />

  <node pkg="ros_map_stream" type="ros_map_stream_node.py" name="ros_map_stream" output="screen">
    <param name="mapping_config_file" value="$(arg mapping_config_file)" />
    <param name="device_config_file" value="$(arg device_config_file)" />
  </node>
</launch>
