<launch>
  <arg name="fcu_url" default="/dev/serial/by-id/usb-CUAV_PX4_CUAV_Nora_0-if00:57600" />
  <arg name="gcs_url" default="" />
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="$(arg fcu_url)" />
    <arg name="gcs_url" value="$(arg gcs_url)" />
  </include>
</launch>
